#logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  font-size: 20px;
  font-family: 'Rancho', cursive;
}

main {
  font-family: 'Viaoda Libre', cursive;
}

ul {
  list-style: none;
}

h1 {
text-align: center;
}

nav ul li {
  padding: 15px; 
  font-family: 'Rancho', cursive;
  font-size: 20px;
}

nav ul a {
  color: rgb(255, 46, 126);
  text-decoration: none;
}

.content-img {
    width: 400px;
}

.content-img2 {
    width: 150px;
}

.flex {

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

body {
    margin: 5px;
  }

  header {
    padding: 10px;
}

#mainform {
    font-family: ostrich_sanscondensed_light;
    font-size: 25px;
    text-align:left;
    width: 200px;
   margin-left: auto;
   margin-right: auto;
    }
    
   #messageBox {
   vertical-align: top;
   }
   
   label {display: inline-block;
   width: 650px;
   padding-bottom: 15px;
   padding-top: 10px}
   

@media(min-width: 768px){

    
    h1 {
      font-size: 25px;
    }
    
    main {
      font-size: 17px;
    }
    
    nav ul li {
      font-size: 23px;
    }
    
    }
    
    @media(min-width: 1000px){

      h1 {
        font-size: 30px;
      }
      
      main {
        font-size: 19px;
      }
    
      nav ul li {
        font-size: 30px;
      }
    }