.flex {

    display: flex;
    flex-direction:column;
}

header {
    padding: 20px;    
}

ul {
    list-style: none;
    padding-left: 0;
}


nav ul li {
    font-size: 15px;
    color: black;
    padding: 15px; 
    
}

nav ul a {
    color: black;
    text-decoration: none;
}

.sidebar {
    grid-area: sidebar;
    background-color: #99BBAD
}

.content {
    grid-area: content;
    background-color: #EBD8B7;
}

.content2 {
    grid-area: content2;
    background-color: #f3aa94;
}

.header {
    grid-area: header;
    background-color: #C6A9A3
}

.footer {
    grid-area: footer;
    background-color:#9A8194;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80px 250px 80px;
    grid-template-rows: 50px 200px 80px;
    grid-template-areas:
         "header header header"
         "sidebar content content2"
         "footer footer footer";
    justify-content: center;
}

@media(min-width: 768px){

.flex {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

nav ul li {
font-size: 17px;
}

.grid-container {
    grid-template-columns: 150px 400px 150px;
    grid-template-rows: 80px 300px 100px;
    grid-template-areas:
         "header header header"
         "sidebar content content2"
         "footer footer footer";
} 

}

@media(min-width:1200px){ 

    .grid-container {
        grid-template-columns: 250px 600px 250px;
        grid-template-rows: 120px 400px 150px;
        grid-template-areas:
             "header header header"
             "sidebar content content2"
             "footer footer footer";
    } 
    
}
