
body {
    margin: 40px;
  }

header {
    padding: 20px;    
}

ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    color: black;
    padding: 15px; 
}

nav ul a {
    color: black;
    text-decoration: none;
}

.buttons {
    margin: 10px;
}
  
.sidebar {
          grid-area: sidebar; 
      }
  
    .content {
          grid-area: content;
          height: 450px;
      }

      .content-img {
        width:670px;
    }

  
    .header {
          grid-area: header;
      }

      .footer {
          grid-area: footer;
      }
  
    .grid-container {
          display: grid;
      grid-gap: 10px;
          grid-template-columns: 500px  350px  350px;
          grid-template-areas:
                            "....... header  header"
                               "sidebar content content"
                               "footer footer footer";
          background-color: #fff;
          color: #444;
      }
.grid-item {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  
.header {
    background-color: rgb(255, 180, 40); }

    body {
        font-size: 17px;
    }